<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239729405706-eboqnhvc3b3qg3bhn7go4fnctg4eu03h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239729405706-eboqnhvc3b3qg3bhn7go4fnctg4eu03h</string>
	<key>API_KEY</key>
	<string>AIzaSyDegzOZ3IkDlhgW9MZ6TZfdazBn7Kl8oB4</string>
	<key>GCM_SENDER_ID</key>
	<string>239729405706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banglalinkGSM.EBApp</string>
	<key>PROJECT_ID</key>
	<string>bl-eb-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bl-eb-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239729405706:ios:772a64300de0cdedca94f3</string>
</dict>
</plist>